<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
    <h1>Flower Library</h1>
    <ul class="flower-library">
      <% allFlowers.forEach((flower) => { %>
      <li>
        <img
          class="library-image"
          src="<%= flower.image_url %>"
          alt="<%= flower.name %>"
        />
        <a class="flower-link" href="/flower-library/<%= flower._id %>">
          <%= flower.name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
