<nav>
  <a class="nav-bar-link" href="/">Home</a>
  <a class="nav-bar-link" href="/flower-library">Flower Library</a>
  <a class="nav-bar-link" href="/new">Add a New Flower</a>
  <!-- *if statement to show links -->
  <% if (!user) { %>
  <a class="nav-bar-link" href="/user/new">Sign Up</a>
  <a class="nav-bar-link" href="/user/login">Log In</a>
  <% } %> <% if (user) { %>
  <a class="nav-bar-link" href="/user/flower-recipes">My Recipes</a>
  <a class="nav-bar-link" href="/user/logout">Log Out</a>
  <% } %>
</nav>
