<nav>
  <div class="general-links">
    <a class="nav-bar-link" href="/">HOME</a>
    <a class="nav-bar-link" href="/flower-library">FLOWER LIBRARY</a>
    <a class="nav-bar-link" href="/new">NEW FLOWER</a>
  </div>
  <!-- *if statement to show links -->
  <div class="user-links">
    <% if (!user) { %>
    <a class="nav-bar-link" href="/user/new">SIGN UP</a>
    <a class="nav-bar-link" href="/user/login">LOG IN</a>
    <% } %> <% if (user) { %>
    <a class="nav-bar-link" href="/recipe-library">MY RECIPES</a>
    <a class="nav-bar-link" href="/user/logout">LOG OUT</a>
    <% } %>
  </div>
</nav>
