<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="homepage">
      <h1 class="homepage-header">Floral Folio</h1>

      <p class="app-intro">
        Floral Folio is your go-to tool for designing and planning flower
        arrangements. Our flower library lets you explore colours and textures
        before committing to a purchase. Add flowers to your recipes, tweak your
        choices, and visualise your arrangements – all without the stress of
        rushing through a webshop checkout.
      </p>
    </div>
  </body>
</html>
