<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Please Log In</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="error-message">
      <h1>You must be logged in to do that!</h1>
      <form action="/user/login?_method=GET" method="GET">
        <button type="submit">Log In?</button>
      </form>
    </div>
  </body>
</html>
